<main>
    <center>
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey blue-grey lighten-5">
                    <div class="card-content blue-text">
                        <span class="card-title">Add story</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row add-story">
                <div class='row'>
                    <div class='input-field col s12'>
                        <i class="material-icons prefix">mode_edit</i>
                        <input type='text' name='story-title' id='story-title' />
                        <label for='story-title'>Title</label>
                    </div>
                </div>

                <div class='row'>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">message</i>
                        <textarea class="materialize-textarea storyline-container" name="initial-storyline" id="initial-storyline"></textarea>
                        <label for='initial-storyline'>Initial storyline</label>
                    </div>
                </div>

                <br />
                <center>
                    <div class='row'>
                        <button type='submit' name='btn_submit' class='col s12 btn btn-large waves-effect indigo' id="submit">Create story</button>
                    </div>
                </center>
            </div>
        </div>
    </center>
</main>