body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
}
main {
  flex: 1 0 auto;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus + label {
  color: #1565c0 !important;
}

.material-icons.prefix {
  color: black;
}

.material-icons.prefix.active {
  color: #1565c0;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus {
  border-bottom: 2px solid #1565c0 !important;
  box-shadow: none;
}

<<<<<<< HEAD
.login-form {
  display: inline-block;
  padding: 64px 72px 0px 72px;
  border: 1px solid #EEE;
}

.register-form,
.add-story {
  display: inline-block;
  width: 55vw;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
}

.profile-text {
  color: black !important;
}

.collection-item > .title {
  font-size: 17px !important;
}

.collection-item {
  border-width: 50px;
}

.stories-menu {
  color: #1565c0 !important;
}

.storyline-container {
  min-height: 100px !important;
}

.card-action a {
  color: #1565c0 !important;
}

.posted_on {
  display: block;
  float: right;
}

.likes {
  display: block;
  float: left; 
}

.details-container {
  margin-bottom: 1em;
}

.brand-logo {
  margin-left: 10px;
}

.storyline-container {
  color: #1565c0;
  font-size: 16px !important;
  font-style: italic;
  font-weight: 400 !important;
}

.storyline-container span:hover {
  background-color: #bbdefb;  
}

.author-container {
  display: inline;
  position: relative;
}

.visible {
  position: absolute;
  top: -40px;
  left: 10px;
}

.story-content-container {
  margin-left: 5%;
  margin-right: 5%;
}

#image-container {
  background-image: url("../images/goback.jpg");
  background-size: cover;
  width: 99.99vw;
  height: 90.9vh;
  text-align: center;
  color: white;
}

#image-container > .waves-effect {
  margin-top: 50px;
  background-color: white;
  color: #1565c0;
  
}

.large-font {
  font-size: 30px;
}

#error-text {
  font-size: 60px;
  margin-top: 400px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.material-icons.nav-icon {
  display: inline;
}

.parallax-container {
  min-height: 85vh !important;
}