<div class="parallax-container">
    <div class="parallax"><img src="https://tarina.herokuapp.com/static/images/tarina_logo.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <p class="grey-text text-darken-3 lighten-3 large-font center-align">Tarina is a web application where you can post a story and wait to see how others will continue it, or you can contribute to the story of someone else.</p>
  </div>
</div>