<div class="section white">
  <div class="row container">
    <h2 class="header">Tarina</h2>
    <p class="grey-text text-darken-3 lighten-3">Tarina is a web application where you can post a story and wait to see how others will continue it, or you can contribute
      to the story of someone else.</p>
  </div>
</div>