<a href="/#/home" class="brand-logo">Tarina</a>
<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
<ul class="right hide-on-med-and-down">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/register">Register</a></li>
</ul>
<ul class="side-nav" id="mobile">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/register">Register</a></li>
</ul>