<main>
    <center>
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey blue-grey lighten-5">
                    <div class="card-content blue-text">
                        <span class="card-title">Register</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row register-form">
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='username' id='username' />
                        <label for='usrername'>Username</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='first-name' id='first-name' />
                        <label for='first-name'>First name</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='last-name' id='last-name' />
                        <label for='last-name'>Last name</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' />
                        <label for='password'>Password</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password-verify' id='verify-password' />
                        <label for='verify-password'>Verify password</label>
                    </div>
                </div>

                <br />
                <center>
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' id="submit">Register</button>
                    </div>
                </center>
            </div>
        </div>
        <a href="/#/login">Alredy have account? Login here.</a>
    </center>
</main>